{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between mb-3">
  <h1>{% if edit %} Update {% else %} Create {% endif %} Inventory</h1>
  <a href="/dashboard/inventory" class="btn btn-success">Go Back</a>
</div>

<form method="post">
  {% csrf_token %}
  <div class="flex">
    <div class="flex-1">
      {{form.name.label_tag}}
      {{form.name}}

      {{ form.product.label_tag }}
      {{ form.product }}

      {{form.amount.label_tag}}
      {{form.amount}}

      <div style="display: flex; justify-content: space-between;">
        <div style="flex: 1;" class="pr-2">
          {{form.unit.label_tag}}
          {{form.unit}}
        </div>
        <div style="flex: 1;">
          {{form.price_per_unit.label_tag}}
          {{form.price_per_unit}}
        </div>
      </div>

    </div>
    <div class="flex-1 pl-5">

    </div>
  </div>
  {% if form.errors %}
  <div class="text-red-500">
    <ul>
      {% for field, errors in form.errors.items %}
      {% for error in errors %}
      <li>{{ error }}</li>
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="flex justify-end mt-5">
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md mr-2">{% if edit %} Update {% else %} Create {% endif %}</button>
  </div>
</form>

</div>

{% endblock %}