{% load ui_tags %}
{% load link_tags %}
<!DOCTYPE html>
<html>

<head>
  <title>Create Product</title>
  {% imports %}
</head>

<body>
  {% header user=user.username %}

  <div class="flex pt-20">
    <!-- Sidebar -->
    {% sidebar_template url="/dashboard/account-setup" request=request %}
    <!-- Content -->
    <div class="w-4/5 ml-auto p-8">
      <h1 class="text-2xl font-bold">Create a new product</h1>
      <p class="text-gray-400 mt-3 mb-6">Please enter the details down below</p>

      <form method="post">
        {% csrf_token %}
        <div class="flex">
          <div class="flex-1">
            {{form.name.label_tag}}
            {{form.name}}

            {{form.description.label_tag}}
            {{form.description}}

            <div class="flex">
              <div class="flex-1 pr-2">
                {{form.brand.label_tag}}
                {{form.brand}}
              </div>

              <div class="flex-1">
                {{form.collection.label_tag}}
                {{form.collection}}
              </div>
            </div>

            <div class="flex">
              <div class="flex-1 pr-2">
                {{form.barcode.label_tag}}
                {{form.barcode}}
              </div>

              <div class="flex-1">
                {{form.SKU.label_tag}}
                {{form.SKU}}
              </div>
            </div>

            <div class="w-1/2 pr-2">
              {{form.forex.label_tag}}
              {{form.forex}}
            </div>

            <div class="flex">
              <div class="flex-1 pr-2">
                {{form.retail_selling_price.label_tag}}
                {{form.retail_selling_price}}
              </div>

              <div class="flex-1">
                {{form.cost.label_tag}}
                {{form.cost}}
              </div>
            </div>

            <div class="w-1/2 pr-2">
              {{form.status.label_tag}}
              {{form.status}}
            </div>
          </div>

          <div class="flex-1 pl-5">
            <h3 class="mb-3">Additional Details (Optional): </h3>
            <div class="flex">
              <div class="flex-1 pr-2">
                {{form.weight.label_tag}}
                {{form.weight}}
              </div>

              <div class="flex-1">
                {{form.height.label_tag}}
                {{form.height}}
              </div>
            </div>
            <div class="flex">
              <div class="flex-1 pr-2">
                {{form.width.label_tag}}
                {{form.width}}
              </div>

              <div class="flex-1">
                {{form.length.label_tag}}
                {{form.length}}
              </div>
            </div>
          </div>
        </div>
        {% if form.errors %}
        <div class="text-red-500">
          <ul>
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <div class="flex justify-end mt-5">
          <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md mr-2">Create</button>
        </div>
      </form>

    </div>
  </div>
</body>

</html>