{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between mb-3">
  <h1>Account</h1>
  <a href="create" class="btn btn-success">Create New Account</a>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>No.</th>
      <th>Account name</th>
      <th>Amount</th>
      <th>Parent Account</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in accounts %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ item.account.name }}</td>
      <td>{{ item.amount}}</td>
      <td>{{ item.account.parent_acc_id.name|default:"-" }}</td>
      <td>
        <a href="edit/{{item.customer_id}}" class="btn btn-primary btn-sm">Edit</a>
        {% csrf_token %}
        <button class="delete-button btn btn-danger btn-sm" data-id="{{ item.inventory_id }}">Delete</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
</script>

</div>

{% endblock %}